.custom-search .ant-input {
    height: 32px; /* Set the height */
  }
  
  .custom-search .ant-input:hover,
  .custom-search .ant-input:focus {
    border-color: green; /* Change border color on hover and focus */
}
.search-container {
    position: relative;
    display: inline-block;
}

.search-container .anticon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #686868;
}


/* .category-parent

.health-product:hover {

} */

.tree-product-items {
    display: none;
  }
  
  .tree-product:hover + .tree-product-items {
    display: flex; /* or any other display value you want to apply */
  }